.welcomePage {
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    background-image: url("../../assets/pictures/welcomePic.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divContainer{
    background-color: #E5EEFCFF;
}